{% extends "piazza_today/base.html" %}

{% block content %}
	<div class="main_content_container">
		<div class="spacer">
			<div class="topbar clearfix">
				<div class="date_wrapper clearfix">
					<div class="date_info date">{{header_date}}</div>
					<div class="date_info time">Time in Palo Alto: {{pa_time}}</div>
					<div class="date_info time">Time in Latvia: {{lv_time}}</div>
				</div>
			</div>
		</div>
		<div class="main_content_wrapper clearfix">
			<div class="section_wrapper clearfix">
				<div class="food_boxes_wrapper clearfix">
					<div class="box food_box">
						<p class="section_header">LUNCH</p>
						<p class="restaurant lunch">{{lunch}}</p>
						<ul>{% for food in lunch_food %}
							<li>{{food}}</li>
						{% endfor %}	
						</ul>
					</div>
					<div class="box food_box">
						<p class="section_header">DINNER</p>
						<p class="restaurant dinner">{{dinner}}</p>						
						<ul>{% for food in dinner_food %}
							<li>{{food}}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="section_wrapper clearfix">
				<div class="festivities_wrapper clearfix">
					<p class="section_header">FESTIVITIES</p>
					{% for event in events %}
						{% if event.event_date == header_date %}
							<div class="box festivity_box {{event.event_type}}_image">
							<p class="festivity_header">Today</p>
							<p>{{event.event_name}}</p>
						{% else %}
							<div class="box festivity_box {{event.event_type}}_image">
							<p class="festivity_header">{{event.event_date|date:"n/j"}}</p>
							<p>{{event.event_name}}</p>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="section_wrapper bottom clearfix">
				<p class="section_header">ANNOUNCEMENTS</p>
				<div class="announcements_wrapper">
					<div class="box announcement_box snitch">
						<p class="header">GOLDEN SNITCH CHAMP</p>
						<p>{{snitch}}</p>
						<p>{{snitch.email_name}}</p>
					</div>
					<div class="box announcement_box out_office">
						<p class="header">OUT OF OFFICE</p>
						{% if vacation %}
							<ul>						
								{% for ooo in vacation %}
									<li>{{ooo}}: {{ooo.date_leaving|date:"n/j"}} - {{ooo.date_returning|date:"n/j"}}</li>
								{% endfor%}
							</ul>
						{% else %}
						<p> Whole Team is here! </p>		
						{% endif %}
						
					</div>
					<div class="box announcement_box time_turner">
						<p class="header">GAME NIGHT WINNER</p>
						<p>{{gamenight_winner}}</p>
						<p>{{gamenight_winner.catagory}}</p>
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock content %}