{% extends "piazza_today/base.html" %}

{% block content %}
	<div class="main_content_container">
		<div class="spacer">
			<div class="topbar clearfix">
				<div class="date_wrapper clearfix">
					<div class="date_info date">{{header_date}}</div>
					<div class="date_info time">Time in Palo Alto: {{pa_time}}</div>
					<div class="date_info time">Time in Latvia: {{lv_time}}</div>
				</div>
			</div>
		</div>
		<div class="main_content_wrapper clearfix">
			<div class="section_wrapper clearfix">
				<div class="food_boxes_wrapper clearfix">
					<div class="box food_box">
						<p class="section_header">LUNCH</p>
						<p class="restaurant lunch">{{lunch}}</p>
						<ul>{% for food in lunch_food %}
							<li>{{food}}</li>
						{% endfor %}	
						</ul>
					</div>
					<div class="box food_box">
						<p class="section_header">DINNER</p>
						<p class="restaurant dinner">{{dinner}}</p>						
						<ul>{% for food in dinner_food %}
							<li>{{food}}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="section_wrapper clearfix">
				<div class="festivities_wrapper clearfix">
					<p class="section_header">FESTIVITIES</p>
					<div class="box festivity_box birthday_image">
						<p class="festivity_header">Today</p>
						<p>Molly's Birthday</p>
					</div>
					<div class="box festivity_box anniversary_image">
						<p class="festivity_header">Today</p>
						<p>Scott's Anniversary</p>
					</div>
					<div class="box festivity_box breakfast_image">
						<p class="festivity_header">5/5</p>
						<p>Team Breakfast</p>
					</div>
					<div class="box festivity_box frisbee_image">
						<p class="festivity_header">6/1</p>
						<p>Team Frisbee</p>
					</div>
					<div class="box festivity_box dinner_image">
						<p class="festivity_header">6/5</p>
						<p>Team Dinner</p>
					</div>
				</div>
			</div>
			<div class="section_wrapper clearfix">
				<div class="festivities_wrapper clearfix">
					<p class="section_header">FESTIVITIES</p>
					{% for event in events %}
						<div class="box festivity_box {{event.event_type}}_image">
						<p class="festivity_header">{{event.event_date}}</p>
						<p>{{event.event_name}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="section_wrapper bottom clearfix">
				<p class="section_header">ANNOUNCEMENTS</p>
				<div class="announcements_wrapper">
					<div class="box announcement_box snitch">
						<p class="header">GOLDEN SNITCH CHAMP</p>
						<p>{{snitch}}</p>
						<p>{{snitch.email_name}}</p>
					</div>
					<div class="box announcement_box out_office">
						<p class="header">OUT OF OFFICE</p>
						<ul>
							{% for ooo in vacation %}
							<li>{{ooo}}: {{ooo.date_leaving}} - {{ooo.date_returning}}</li>
							{% endfor%}
						</ul>
					</div>
					<div class="box announcement_box time_turner">
						<p class="header">GAME NIGHT WINNER</p>
						<p>{{gamenight_winner}}</p>
						<p>{{gamenight_winner.catagory}}</p>
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock content %}