.topbar{
	background:#38b2a6;
	padding:20px;
}
h1{
	margin:0px;
	text-align:center;
	color:#eee;
}
.section_wrapper{
	&.top{
		width: 100%;
		.date_wrapper{
			padding: 20px;
			.time{
				float: left;
			}
			.date{
				float: left;
			}
		}
	}
}
