body {
  background: #F0E8E6;
}
.section_header {
  color: #7CC1FA;
  text-align: center;
  font-size: 32px;
}
.spacer {
  background: #726965;
  width: 100%;
  height: 50px;
}
.box {
  border-radius: 10px;
  background: #303030;
  padding: 15px;
  float: left;
  margin: 0px 10px;
}
p {
  color: #fff;
  text-align: center;
}
.topbar {
  height: 95px;
  width: 100%;
  padding: 8px;
  background-image: url('../img/daily_prophet.png');
  background-repeat: no-repeat;
  background-size: auto 50px;
  background-position: 50px 5px;
}
.topbar .date_wrapper {
  color: #fff;
  float: right;
  width: 900px;
}
.topbar .date_wrapper .date_info {
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-right: 100px;
  margin-top: 10px;
}
.main_content_container {
  background-image: url('../img/piazza6.gif');
  background-size: 100%;
  background-repeat: no-repeat;
}
.main_content_wrapper {
  width: 1000px;
  margin: 100px auto;
  background: #272727;
  opacity: .9;
}
.section_wrapper {
  padding: 15px 60px;
}
.food_boxes_wrapper {
  margin-top: 35px;
}
.food_boxes_wrapper .food_box {
  width: 420px;
  height: 310px;
}
.food_boxes_wrapper .food_box ul {
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
}
.food_boxes_wrapper .food_box .restaurant {
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}
.festivities_wrapper {
  height: 300px;
  padding: 20px;
}
.festivities_wrapper .festivity_box {
  width: 148px;
  height: 220px;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 43px 66px;
}
.festivities_wrapper .festivity_box.birthday_image {
  background-image: url('../img/cake.png');
}
.festivities_wrapper .festivity_box.anniversary_image {
  background-image: url('../img/anniversary.png');
}
.festivities_wrapper .festivity_box.dinner_image {
  background-image: url('../img/welcome.png');
}
.festivities_wrapper .festivity_box.breakfast_image {
  background-image: url('../img/muffin.png');
}
.festivities_wrapper .festivity_box.frisbee_image {
  background-image: url('../img/frisbee.png');
}
.festivities_wrapper .festivity_box .festivity_header {
  margin-top: 5px;
}
.festivities_wrapper .festivity_box p {
  text-align: center;
  font-size: 23px;
  margin-top: 85px;
}
.announcements_wrapper .announcement_box {
  margin: 0px 17px;
  width: 259px;
  height: 230px;
}
.announcements_wrapper .announcement_box .header {
  color: black;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 700;
}
.announcements_wrapper .announcement_box p {
  font-size: 20px;
  color: black;
}
.announcements_wrapper .announcement_box ul {
  color: black;
  font-size: 20px;
}
.announcements_wrapper .announcement_box.out_office {
  background: #CFFDC3;
}
.announcements_wrapper .announcement_box.snitch {
  background: #FDF0BB;
}
.announcements_wrapper .announcement_box.time_turner {
  background: #AFDEFF;
}
.bottom {
  padding-bottom: 50px;
}
