body{
	background: #F0E8E6;
}
.section_header{
	color: #7CC1FA;
	text-align: center;
	font-size: 32px;
}
.spacer{
	background: #726965;
	width: 100%;
	height: 50px;
}
.box{
	border-radius: 10px;
	background: #303030;
	padding: 15px;
	float: left;
	margin: 0px 10px;
}
p{
	color: #fff;
	text-align: center;	
}
.topbar{
	height: 95px;
	width: 100%;
	padding: 8px;
	background-image: url('../img/daily_prophet.png');
	background-repeat: no-repeat;
	background-size: auto 50px;
  	background-position: 50px 5px;
  	.date_wrapper{
  		color: #fff;
		float: right;
		width: 900px;
		.date_info{
			float: left;
			font-size: 18px;
			font-weight: bold;
			margin-right: 100px;
			margin-top: 10px;
		}
	}
}
.main_content_container{
	background-image: url('../img/piazza6.gif');
	background-size: 100%;
	background-repeat: no-repeat;
}
.main_content_wrapper{
	width: 1000px;
	margin: 100px auto;
	background: #272727;
	opacity: .9;
}
.section_wrapper{
	padding: 15px 60px;
}
.food_boxes_wrapper{
	margin-top: 35px;
	.food_box{
		width: 420px;
		height: 310px;
		ul{
			padding-left: 20px;
			color: #fff;
			font-size: 15px;
		}
		.restaurant{
			color: #fff;
			font-weight: 800;
			font-size: 18px;
			margin-bottom: 5px;
			text-align: left;	
		}
	}
}
.festivities_wrapper{
	height: 300px;
	padding: 20px;
	.festivity_box{
		width: 148px;
		height: 220px;
		background-size: 60px;
		background-repeat: no-repeat;
		background-position: 43px 66px;
		margin-top: 10px;
		&.birthday_image{
			background-image: url('../img/cake.png');
		}
		&.anniversary_image{
			background-image: url('../img/anniversary.png')
		}
		&.dinner_image{
			background-image: url('../img/welcome.png')
		}
		&.breakfast_image{
			background-image: url('../img/muffin.png')
		}
		&.frisbee_image{
			background-image: url('../img/frisbee.png')
		}
		&.welcome_image{
			background-image: url('../img/welcome.png')
		}
		&.celebration_image{
			background-image: url('../img/welcome.png')
		}
		.festivity_header{
			margin-top: 5px;
		}
		p{
			text-align: center;
			font-size: 23px;
			margin-top: 85px;
		}
	}
}
.announcements_wrapper{
	.announcement_box{
		margin: 0px 17px;
		width: 259px;
		height: 230px;
		margin-top: 10px;
		.header{
			color: black;
			font-size: 18px;
			margin-top: 8px;
			font-weight: 700;
		}
		p{
			font-size: 20px;
			color: black;
		}
		ul{
			color: black;
			font-size: 20px;
		}
		&.out_office{
			background: #CFFDC3;
		}
		&.snitch{
			background: #FDF0BB;
		}
		&.time_turner{
			background: #AFDEFF;
		}
	}
}
.bottom{
	padding-bottom: 50px;
}

@media (max-width: 1205px){
	.topbar{
		padding: 6px;
	  	.date_wrapper{
			width: 690px;
			.date_info{
				font-size: 18px;
				margin-right: 30px;
			}
		}
	}
}

@media (max-width: 1015px){
	.spacer{
		background: transparent;
	}
	.topbar{
	  	.date_wrapper{
			float: left;
  			margin-top: 52px;
  			margin-left: 41px;
		}
	}
	.main_content_wrapper{
		width: 850px;
	}
	.food_boxes_wrapper{
		.food_box{
			width: 345px;
  			height: 400px;
		}
	}
}


@media (max-width: 780px){
	.main_content_wrapper{
		width: 100%;
	}
	.section_wrapper{
		width: 100%;
		padding: 0% 3%;
	}
	.food_boxes_wrapper{
		.food_box{
			width: 47%;
			height: 430px;
			margin-bottom: 30px;
		}
	}
	.festivities_wrapper{
		.festivity_box{
			margin-bottom: 30px;
		}
	}
	.announcements_wrapper{
		.announcement_box{
			margin-bottom: 30px;
		}
	}
}


@media (max-width: 713px){
	.topbar{
		background-position: 20px 5px;
	  	.date_wrapper{
  			margin-left: 13px;
  			.date_info{
  				font-size: 14px;
  			}
		}
	}	
	.main_content_wrapper{
		margin: 65px auto;
	}
	.food_boxes_wrapper{
		.food_box{
			  width: 80%;
			  height: 400px;
			  margin: 0px 10%;
			  margin-bottom: 20px;
		}
	}
}

@media (max-width: 500px){
	.topbar{
	  	.date_wrapper{
  			width: 300px;
  			.date_info{
  				font-size: 16px;
  			}
		}
	}
	.main_content_wrapper{
		margin: 120px auto;
	}
	.section_wrapper{
		width: 100%;
		padding: 0px;
	}
	.food_boxes_wrapper{
		.food_box{
			  width: 90%;
			  margin: 0px 5%;
			  margin-bottom: 20px;
			  height: 420px;
		}
	}
	.announcements_wrapper{
		.announcement_box{
			width: 90%;
			margin: 0px 5%;
			margin-bottom: 50px;
		}
	}
	.festivities_wrapper{
		.festivity_box{
			width: 44%;
			background-position: 50% 40%;
		}
	}
}
@media (max-width: 400px){
	.festivities_wrapper{
		.festivity_box{
			width: 90%;
			margin: 0px 5%;
			margin-bottom: 20px;
			background-position: 50% 40%;
		}
	}	
}









